*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: Khmer OS Content-Kh Auto;
    color: black;
}
body{
    background-color: rgb(247, 255, 255);
    align-items: center;
    justify-content: center;
    position: relative;
    background:url(/img/Ankor_Wat_temple.jpg) no-repeat ;
    width: auto;
    height: 100%;
    background-size:cover;

}
header{
    position: sticky;
    top: 0;
    margin-top: 100px;
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.logoschool{
    width: 488.16px; height: 179.57px; 
    left: 0px; top: 0px; 
    position: relative;
    align-items: center; 
    justify-content: center;
    box-shadow: 16.780338287353516px 7.6274261474609375px 21.356794357299805px rgba(70.87, 195.50, 75.85, 0.25); 
    border-radius: 19.83px;
}
.logoschool img{
    width: 130px; height: 167px; left: 2px; top: 5px; position: absolute;
}
.logoschool h1{
    color: #249222;
    font-family: Kh Muol ;
    position: absolute;
    text-align: center;
    font-size: 29px;
    font-weight: 400; word-wrap: break-word;
    width: 273px; height: 61px; 
    left: 150px; top: 24px;
}
.logoschool h2{
    width: 352px; height: 33px; left: 148px; top: 106px;
    position: absolute; 
    color: #249222; 
    font-size: 24.41px; font-family: Roboto; font-weight: 700; 
    word-wrap: break-word;
}


.container{
    border:2px solid black;
    height: 550px;
    width: 500px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.432);
}
.container h1{
    font-family: Khmer OS Content-Kh Auto ;
    font-size: 20px;
    color: #063b06;

}
.input{
    width: 100%;
}
.input input{
    padding: 1rem;
    width: 100%;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    background-color: transparent;
    color: black;
}

.input input::placeholder{
    color: black;
}

.login-btn{
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px ;
    background-color: transparent;
    color: black;
}
.login-btn a:hover{
    color: rgb(255, 255, 255);
}
.login-btn:hover{
    color: rgb(239, 247, 247);
    text-shadow: rgba(0, 0, 0, 0.295) 5px 5px;
    transform: scale(1.02);
    transition: .5s;
    background-color: #249222;

}
.help{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.forgot-pass{
    margin-left: 100px;
    font-weight: 600;
    color: black;
}
#rmbr-me{
    font-size: 20px;
    margin-left: 10px;
    color: black;
}

.help a{
    font-size: 20px;
    color: black;
}
.help a:hover{
    color: rgb(255, 0, 0);
    font-weight: 600;
    transform: scale(1.1);
    transition: .5s;
}



