*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: Khmer OS Content-Kh Auto;
    color: black;
}
body{
    background-color: rgb(0, 68, 253);
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(0, 26, 255);
    width: auto;
    height: 100%;

}
header{
    margin-top: 100px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.header-col{
    background-color: blue;
    width: 100%;
    height: 80px;
}
.logoschool{
    width: 488.16px; height: 179.57px; 
    left: 0px; top: 0px; 
    position: relative;
    align-items: center; 
    justify-content: center;
    box-shadow: 16.780338287353516px 7.6274261474609375px 21.356794357299805px rgba(87, 104, 88, 0.13); 
    border-radius: 19.83px;
}
.logoschool img{
    width: 130px; 
    height: 167px; left: 2px;
    top: 5px;
    position: absolute;
}
.logoschool h1{
    color: #249222;
    font-family: Kh Muol ;
    position: absolute;
    text-align: center;
    font-size: 29px;
    font-weight: 400; word-wrap: break-word;
    width: 273px; height: 61px; 
    left: 150px; top: 24px;
}
.logoschool h2{
    width: 352px; height: 33px; left: 148px; top: 106px;
    position: absolute; 
    color: #249222; 
    font-size: 24.41px; font-family: Roboto; font-weight: 700; 
    word-wrap: break-word;
}

.box{
    background-color: rgb(255, 255, 255);
    padding: 20px 10px 20px 0px;
}
.container{
    background-color: aliceblue;
    height: 100%;
    width: 488px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0.432);
    box-shadow: rgba(116, 108, 108, 0.11) 10px 10px 10px 0px;
}
.container h1{
    font-family: Khmer OS Content-Kh Auto ;
    font-size: 20px;
    color: #13a113;

}
.input{
    width: 100%;
}
.input input{
    padding: 1rem;
    width: 100%;
    margin: 8px;
    border: 2px solid rgb(69, 69, 71);
    border-radius: 15px;
    font-size: 20px;
    background-color: transparent;
    color: black;
}

.input input::placeholder{
    color: black;
}

.login-btn{
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px ;
    background-color: transparent;
    color: black;
}
.login-btn a:hover{
    color: rgb(255, 255, 255);
}
.login-btn:hover{
    color: rgb(239, 247, 247);
    text-shadow: rgba(0, 0, 0, 0.295) 5px 5px;
    transform: scale(1.02);
    transition: .10s;
    background-color: #249222;

}
.help{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.forgot-pass{
    margin-left: 100px;
    font-weight: 600;
    color: black;
}
#rmbr-me{
    font-size: 20px;
    margin-left: 10px;
    color: black;
}

.help a{
    font-size: 20px;
    color: black;
}
.help a:hover{
    color: rgb(255, 0, 0);
    font-weight: 600;
    transform: scale(1.1);
    transition: .5s;
}


.footer-col{
    background-color: rgb(0, 0, 255);
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: relative;

}
.footer-col h1{
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 20px;
}
